html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* 
***NOTE***
Page Styling Begins on Line 330
*/

/* Copying select CSS from animate.css below to comply with single external .css requirement */


/* @charset "UTF-8"; */

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

@keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: hinge;
    animation-name: hinge;
}

@-webkit-keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}


/* Color palette
White
#FFFFFF
255, 255, 255

Vivid purple
#9200FF
146, 0, 255

Royal purple
#3D0369
61, 3, 105

Dark indigo
#0F0632
15, 6, 50

Almost black
#08080B
8, 8, 11 
*/


/* Text Styling
font-family: 'Iceberg', cursive;
font-family: 'Montserrat', sans-serif;
 */


/* General Font */
body {
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #0F0632;
}

h1,
h2,
.button-style,
li {
    text-transform: uppercase;
}

h1,
h2,
.button-style {
    font-family: "Iceberg", sans-serif;
}

body,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

/* reset body line-height */
h1,
h2,
h3,
h4 {
    line-height: initial;
}

h1,
h3,
h4,
.button-style,
.center-align {
    text-align: center;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 0.8rem;

    animation-iteration-count: 7;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 35px;
    line-height: 70px;
    background-color: #9200FF;
    margin-top: 0;
}

.bounceInUp {
    animation-duration: 1.5s;
    animation-delay: 7.5s;
    animation-iteration-count: 1;
}

.hinge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;


    animation-duration: 2s;
    animation-delay: 5s;
    animation-iteration-count: 1;
}

h4 {
    font-weight: bold;
    font-size: 30px;
}


/* Wrapper, Floats & General */
nav,
.position-relative,
.float-list,
.float-list li {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

section,
ul.float-list,
.footer-top nav {
    clear: both;
}


.float-left,
.float-list,
.float-list li {
    float: left;
}

.float-right {
    float: right;
}

img {
    display: block;
    width: 100%;
}


/* Multi-Section CSS - Generic Order */

nav,
.contact {
    margin: 0 auto;
    width: 100%;
}

.contact,
.ticket {
    padding: 150px 0;
}

.contact li,
.gram li:nth-of-type(2) {
    margin: 0 4%;
}

nav,
.contact,
.gram {
    overflow: hidden;
}

.contact,
.footer-top {
    background-color: #3D0639;
}

.gram,
.footer-top {
    padding-bottom: 100px;
}


/* Header */

header {
    height: 100vh;
    background-image: url(./assets/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.title-content {
    width: 480px;
    margin: 0 auto;
    top: 20%;
    transform: translateY(-50%);

    animation-iteration-count: 7;
}

.social-list {
    padding-right: 50px;
    position: absolute;
    right: 0;
    top: 40%;
}

.social-list li {
    padding-bottom: 8px;
    margin: 5px 0;
    position: relative;
}

.social-list li:hover,
.social-list li a:focus {
    font-weight: bold;
}

.social-list a:hover::after,
.social-list a:focus::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px solid #FFFFFF;
    padding: 0;
}

.social-list i {
    font-size: 1.5rem;
}


/* Nav and General List Styling */

nav .float-list a {
    padding: 0 30px;
}

nav a:hover,
nav a:focus {
    font-weight: bold;
}

nav a:hover::after,
nav a:focus::after {
    content: "";
    border: 1px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 19%;
    right: 18%;
}

ul {
    padding: 0;
}

ul li,
li a,
address a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.float-list {
    left: 50%;
}

.float-list li {
    display: block;
    right: 50%;
}

.float-list a {
    display: block;
    margin-left: 1px;
    padding: 3px 10px;
}


/* Main Section */

.content h2 {
    margin: 0 auto;
}

.text-content-left,
.text-content-right {
    position: absolute;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
}

.text-content-left {
    left: 10%;
    right: 55%;
}

.text-content-right {
    right: 10%;
    left: 55%;
}

.content-image {
    overflow: hidden;
}

.content-image img {
    transform: translateY(-1px);
}

.content-image,
.content-description,
.footer-subcontent {
    margin: 0;
    width: 50%;
}


/* Button & Input Styling */

.button-style,
input {
    font-size: 25px;
    line-height: 29px;
    border: none;
    padding: 10px 25px;
}

.button-style {
    color: inherit;
    background-color: #9200FF;
}

form {
    margin: 10px 0;
}

form,
input[type="email"] {
    width: 100%;
}

input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.button-style:hover,
.button-style:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    color: #9200FF;
    background-color: #FFFFFF;
    text-decoration: underline;
}


/* Ticket Section */

.ticket {
    background-color: #08080B;
}

.ticket h2 {
    margin-top: -10px;
}

.ticket-image {
    width: 20%;
    margin: 0;
}

.ticket-content-description {
    width: 80%;
    padding-left: 5%;
}


/* Contact Section */

.contact ul {
    width: 70%;
    margin: 0 auto;
}

.contact li {
    width: calc((100% - 24%) / 3);
}

.contact a:hover,
.contact a:focus {
    transform: scale(1.1);
}

.contact a:hover::before,
.contact a:hover::after,
.contact a:focus::before,
.contact a:focus::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    border: 1px solid #FFFFFF;
}

.contact i {
    font-size: 45px;
    margin-top: 40px;
}


/* Gram Section */

.gram h2 {
    margin: 80px 0;
}

.gram ul {
    width: 100%;
}

.gram li {
    width: calc((100% - 8%) / 3);
}


/* Footer */

.footer-top nav {
    padding: 40px 0;
}

footer h2,
footer p {
    margin: 0;
}

.footer-bottom p {
    text-transform: capitalize;
}

address {
    font-style: inherit;
}

.email-address:hover,
.phone-number:hover,
.email-address:focus,
.phone-number:focus {
    font-weight: bold;
}


.footer-bottom {
    padding: 10px 0;
}


/* Media Queries */

@media (max-width: 1480px) {    
    .wrapper {
        width: 90%;
    }
    .text-content-left {
        left: 5%;
    }
    
    .text-content-right {
        right: 5%;
    }
    
    .text-content-left {
        top: 45%;
    }
}

@media (max-width: 1280px) {
    .text-content-left {
        top: 35%;
    }

    .text-content-right {
        top: 45%;
    }

    .contact ul {
        width: 80%;
    }
}

@media (max-width: 1180px) {
    .content {
        padding: 50px 0;
    }

    .content-image {
        width: 40%;
        float: left;
    }

    .content-description {
        width: 55%;
        float: left;
    }

    .text-content-left,
    .text-content-right {
        position: static;
        transform: initial;
        padding-left: 5%;
    }
}

@media (max-width: 940px) {
    .float-left,
    .float-right {
        float: none;
    }

    header {
        height: 100vh;
        position: relative;
    }
    
    header:before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;
        background-image: url(./assets/header-image.jpg);
        filter: brightness(1.8);
        background-position: top right;
        background-size: cover;
    }

    .title-content {
        transform: initial;
        top: 40%;
        width: 400px;
    }

    h1 {
        margin-top: 0;
        font-size: 4.5rem;
        line-height: 70px;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .content,
    .footer-top {
        padding: 0;
    }

    .content-image,
    .ticket-image,
    .footer-subcontent {
        width: 100%;
    }
    
    .content-image {
        max-height: 450px;
    }

    .content-image img {
        object-fit: cover;
    }

    .content-description,
    .ticket-content-description {
        width: 100%;
        padding: 50px 0 0;
    }

    button.button-style {
        margin: 50px auto;
        display: block;
    }

    .text-content-left,
    .text-content-right {
        padding: 0 5%;
    }

    .ticket,
    .contact {
        padding: 40px 0;
    }

    .contact ul {
        width: 100%;
    }
    
    .contact li {
        margin: 0 auto;
        width: 100%;
    }

    .contact a:hover::before,
    .contact a:hover::after,
    .contact a:focus::before,
    .contact a:focus::after {
        left: 35%;
        right: 35%;
    }

    .mobile-hide {
        display: none;
        visibility: hidden;
    }
    
    .gram {
        padding-bottom: 40px;
    }

    .gram li {
        width: calc((100% - 4%) / 2);
    }
    
    .gram li:nth-of-type(2) {
        margin-right: 0;
    }

    footer .footer-top nav a {
        padding: 3px 8px;
    }

    .footer-subcontent {
        padding: 30px 0;
    }

    .footer-subcontent,
    input[type="email"] {
        text-align: center;
    }
    
    input.button-style {
        position: static;
        width: 100%;
        margin-top: 5px;
    }
}

@media (max-width: 700px) {
    header::before {
        background-position: top left 20%;
    }
}

@media (max-width: 480px) {
    header {
        height: 100vh;
    }

    .title-content {
        width: 320px;
    }
    
    h1 {
        font-size: 3.5rem;
        line-height: 60px;
    }

    h3 {
        font-size: 1.4rem;
    }

    footer .footer-top nav a {
        padding: 3px;
    }
}

@media (max-width: 380px) {
    .title-content {
        width: 300px;
    }

    nav li {
        width: 100%;
        text-align: center;
    }
}